/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_self
 */
 
@import "font-awesome-sprockets";
@import "font-awesome";

main > .container {
  padding: 60px 15px 0;
}

ul.pagination{
  li.page-item{

    &.current{
      color: #ff3f55;
      padding: .375rem .75rem;
      position: relative;
      display: block;
      text-decoration: none;
      background-color: #e9ecef;
      border: 1px solid #ff3f55;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      margin-left: -1px;
    }

    a.page-link{
      border-color: rgb(255, 63, 85);
      color: rgb(255, 63, 85);
    }
  }
}

.conversions-table {
  .conversions-row {
    border: 1px solid gray;
    width: 100%;
  }

  .col-4.tab{
    text-align: center;
    font-weight: bold;
    padding: 1rem;
  }

  .col-4 {
    border-bottom: 1px solid gray;
  }
}
